---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Products from '../components/Products.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Produtos para Emagrecimento | Sua Empresa">
  <Header />
  <main>
    <Hero />
    <Products />
    <Footer />
  </main>
</Layout>