---
const whatsappLink = "https://wa.me/5516992092884";
---

<section
  class="relative bg-hero-pattern bg-cover min-h-[100vh] flex items-center md:pt-10"
>
  <div class="container mx-auto px-4 md:py-24 py-10">
    <div class="max-w-3xl flex flex-col gap-4">
      <h1 class="text-5xl md:text-6xl text-white font-thin drop-shadow-lg mb-4">
        Descubra o <span class="font-medium">Segredo Para Emagrecer</span> de maneira
        <span class="font-medium">Rápida e Saudável</span>!
      </h1>
      <p class="text-xl text-white mb-4 max-w-2xl drop-shadow-lg">
        A fórmula única e natural da Dermo Diet, irá acelerar seu metabolismo, reduzir seu apetite e lhe dar energia extra!
      </p>
      <div class="flex flex-col sm:flex-row gap-4">
        <a
          href={whatsappLink}
          class="bg-accent text-white text-lg px-8 py-4 rounded-sm w-fit font-medium hover:bg-accent/90 transition-colors flex items-center justify-center gap-2"
        >
          Quero Emagrecer Agora !
        </a>
      </div>
      <p class="text-white flex items-center gap-2"><img src="/check.png" alt="check" class="w-5 h-5"/> Testado e aprovado</p>
    </div>
  </div>
</section>
