---
import TestiCarousel from "./TestiCarousel";

const testimonials = [
  {
    name: "Testemunho",
    image: "/test.jpeg",
  },
  {
    name: "Testemunho 1",
    image: "/test-1.jpeg",
  },
  {
    name: "Testemunho 3",
    image: "/test-3.jpeg",
  },
  {
    name: "Testemunho 4",
    image: "/test-4.jpeg",
  },
  {
    name: "Testemunho 5",
    image: "/test-5.jpeg",
  },
  {
    name: "Testemunho 6",
    image: "/test-6.jpeg",
  },
  {
    name: "Testemunho 9",
    image: "/test-9.jpeg",
  },
  {
    name: "Testemunho 11",
    image: "/test-11.jpeg",
  },
  {
    name: "Testemunho 13",
    image: "/test-13.jpeg",
  },
];
---

<section class="py-20 bg-light" id="sobre">
  <div class="container mx-auto px-4 mt-10 flex flex-col gap-8">
    <div class="flex flex-col gap-6">
      <h2 class="md:text-4xl text-2xl text-center text-zinc-800">
        Resultados <span class="font-bold">Reais</span> de <span
          class="font-bold">Pessoas Reais!</span
        >
      </h2>
      <span
        class="md:text-lg text-base text-center mb-5 font-medium text-zinc-700 max-w-4xl mx-auto"
        >Pra que gastar dinheiro com vários procedimentos caros se você pode ter
        um resultado extraordinário com o Dermo Diet?</span
      >
    </div>

    <div class="mx-auto max-w-screen-lg space-y-4">
      <TestiCarousel client:load />
      <span
        class="md:hidden text-center justify-center flex text-zinc-700 font-medium gap-4 items-center"
        >Arreste para o lado <img
          src="/right-arrow.png"
          alt="Arraste para o lado"
          class="w-5"
        />
      </span>
    </div>

    <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      testimonials.map((test) => (
        <img
          src={test.image}
          alt={test.name}
          class="w-full md:max-h-[500px] h-auto object-cover drop-shadow-md"
        />
      ))
    }
  </div> -->
  </div>
</section>
