---
import "@fontsource-variable/inter";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <meta
      name="description"
      content="A fórmula única e natural da Dermo Diet, irá acelerar seu metabolismo,
        reduzir seu apetite e lhe dar energia extra!"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>

<style is:global>
  :root {
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Sora", sans-serif;
  }
</style>
